.banner {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Pushes text and button to opposite ends */
    background-color: #e0f7fa;
    color: #000000;           
    width: 100%;
    padding: 10px 20px; /* Horizontal padding for the button */
    font-weight: bold;
    font-family: sans-serif; 
    z-index: 9999; 
    position: relative;
    box-sizing: border-box ;  /* Ensures padding doesn't break width */
} 